{include file='header'/}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div class="layui-row hui-form-search">
                <form class="layui-form layui-col-md12" action="javascript:;" id="form_admin_search">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input type="text" name="name" id="name" placeholder="请输入链接名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <input type="text" name="url" id="url" placeholder="请输入链接地址" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <select name="status" id="search_status">
                                <option value="0">==可见性==</option>
                                <option value="1">正常</option>
                                <option value="10">待审核</option>
                                <option value="2">未通过</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-sm" data-type="reload" lay-submit="" lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>搜索
                            </button>
                            <button class="layui-btn layui-btn-danger layui-btn-sm reset" type="reset"><i
                                    class="layui-icon">&#xe63f;</i>清空
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </fieldset>

        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-sm layuimini-btn-primary btn-refresh"><i class="fa fa-refresh"></i></button>
            <a class="layui-btn layui-btn-normal layui-btn-sm {if !check_auth('module.link/add')}layui-hide{/if}" data-open="{:__url('module.link/add')}"
               data-title="添加友情链接">
                <i class="fa fa-plus"></i> 添加链接</a>
        </div>

        <table id="tag_table" lay-filter="tag_table"></table>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-sm layui-btn-normal {if !check_auth('module.link/edit')}layui-hide{/if}" data-open="{:__url('module.link/edit')}?id={{d.id}}"
               data-title="编辑链接" data-reload="2">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm {if !check_auth('module.link/delete')}layui-hide{/if}" data-delete="{:__url('module.link/delete')}?id={{d.id}}"
               data-title="删除链接" data-reload="2">删除</a>
        </script>

        <script type="text/html" id="status">
            {{#  if(d.status == 0 ){ }}
            <span class="layui-badge layui-bg-blue"> 待审核 </span>
            {{# } else if(d.status== 1) { }}
            <span class="layui-badge layui-bg-green"> 正常 </span>
            {{#  } else { }}
            <span class="layui-badge layui-bg-danger"> 未通过 </span>
            {{#  } }}
        </script>

    </div>
</div>

{include file='footer'/}
<script>
  layui.use(['table'], function () {
    var table = layui.table;
    table.render({
      elem: '#tag_table'
      , method: 'get'
      , url: "{:__url('index')}"
      , done: function (res) {
        $("#total").html(res.count);
      }
      , cellMinWidth: 100
      , cols: [[
        {type: 'numbers'}
        , {field: 'id', title: 'ID', width: 60, align: 'center', sort: true}
        , {field: 'name', title: '链接名称'}
        , {field: 'url', title: 'url'}
        , {field: 'listorder', title: '排序',width:100, align: 'center'}
        , {field: 'update_time', title: '最后修改时间'}
        , {field: 'status', title: '可见性',templet: '#status',width:120,align: 'center'}
        , {fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center'}
      ]]
      , id: 'testReload'
      , page: true
      , limit: 10
    });
    var $ = layui.$, active = {
      reload: function () {
        //执行重载
        table.reload('testReload', {
          page: {curr: 1},
          where: {
            key: {
              name: $('#name').val(),
              url: $('#url').val(),
              status: $('#search_status').val()
            }
          }
        });
      }
    };
    //监听排序
    table.on('sort(tag_table)', function (obj) {
      table.reload('testReload', {
        initSort: obj
        , where: {
          field: obj.field
          , order: obj.type
        }
      });
    });

    $('.hui-form-search .layui-btn').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    $('.hui-form-search .reset').on('click', function () {
      window.location.reload();
    });

    //监听行工具事件
    table.on('tool(role_list)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        layer.confirm('你确定要删除吗？', {
          btn: ['确定', '取消'] //按钮
        }, function () {
          var postdata = {ids: data.id};
          posttips("{:__url('admin_delete')}", postdata);
        });
      } else if (obj.event === 'edit') {
        WeAdminShow("编辑", "{:__url('admin_edit')}?id=" + data.id, '800');
      }
    });
  });
</script>
</body>
</html>